@model IEnumerable<Vidly.Models.Movie>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Movies</h1>
    @if (Model.Count() > 0) {


    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr class="table-default" onclick="location.href = '@(Url.Action("Details", "Movies", new { id = item.Id }))'">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
}            
            </tbody>    
    </table>
    }
    else {
        <p>We currently don't have any movies :(</p>
    }
</body>
</html>
