@model Vidly.Models.Customer


<h2>@Model.Name</h2>
<ul>
    <li>
        Membership Type: @Model.MembershipType.Name
    </li>
    
    @if(Model.DateOfBirth != null) {
    <li>
        Birthdate: @Html.DisplayFor(x => x.DateOfBirth) @*Need to use this method to format correctly*@
    </li>
    }
</ul>
